[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mcstatus = "*"
discord-py = "*"
dnspython = "*"
python-dotenv = "*"
discord-timers = "*"

[requires]
python_version = "3.7"
